# Database Configuration
OSSN_DB_HOST=localhost
OSSN_DB_USER=root
OSSN_DB_PASSWORD=secret
OSSN_DB_NAME=opensource_socialnetwork

# Application Settings
OSSN_SITE_URL=http://localhost/opensource-socialnetwork/
OSSN_DEBUG=false
